body {
    background-color: rgba(13, 13, 69, 0.883);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    max-width: 400px;
    min-height: 600px;
    margin-top: 250px;
    border: 1px black solid;
    border-radius: 5px;
    background-color: rgb(25, 75, 39);
}

.screen {
    background-color: dimgray;
    width: 350px;
    height: 100px;
    margin: 25px 20px;
    border: 1px black solid;
    border-radius: 5px;
    text-align: right;
    font-size: 25px;
    padding: 5px;
}

p {
    height: 25px;
}

button {
    padding: 10px;
    min-width: 90px;
    min-height: 80px;
    border: 2px black solid;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(66, 64, 64);
}

.buttons {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3px;
}

#equals {
    flex: 2;
}

.button_hover {
    background-color: lightblue;
}